<%= form_tag search_path, class: 'search-form' do %>
  <%= text_field_tag 'query', '', class: 'form-control' %>
  <%= hidden_field_tag 'models_to_index', models_to_index %>
  <%= button_tag type: 'submit', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-search"></span>&nbsp;<%= submit_label || 'search' %>
  <% end %>
<% end %>
