<h1>search statistics</h1>

<h3>The index ...</h3>

<p>... has <strong><%= TkhSearchTerm.count %></strong> different search terms pointing to <strong><%= TkhSearchInstance.count %></strong> instances.</p>

<h3>Total User Searches</h3>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>last 24 hours</th>
      <th>last month</th>
      <th>ever</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= TkhSearchEvent.last_24_hours.count %></td>
      <td><%= TkhSearchEvent.last_month.count %></td>
      <td><%= TkhSearchEvent.count %></td>
    </tr>
  </tbody>
</table>

<h3>Most Popular Queries in the Last Month</h3>

<ul>
  <% TkhSearchEvent.last_month.group(:tkh_search_query_id).order('COUNT(tkh_search_query_id) desc').limit(50).each do |event| %>
    <li><%= "#{event.tkh_search_query.string} #{TkhSearchEvent.last_month.where(tkh_search_query_id: event.tkh_search_query_id).count}" %></li>
  <% end %>
</ul>

<%= render 'shared/admin_sidebar' %>
